h1 {
    color: red;
}
// jbjbjbj
/* jhgu */

.sdfsd {
    color: #fff;
    .sdfsdfsdf {
        content: 'sdfsddssdfs'
    }


    
}
.sdfsd {
    color: #fff;
    .sdfsdfsdf {
        content: 'sdfsddssdfs'
    }



}
.sdfsd {
    color: #fff;
    .sdfsdfsdf {
        content: 'sdfsddssdfs'
    }



}
.sdfsd {
    color: #fff;
    .sdfsdfsdf {
        content: 'sdfsddssdfs'
    }



}
.sdfsd {
    color: #fff;
    .sdfsdfsdf {
        content: 'sdfsddssdfs'
    }



}
.sdfsd {
    color: #fff;
    .sdfsdfsdf {
        content: 'sdfsddssdfs'
    }



}
.sdfsd {
    color: #fff;
    .sdfsdfsdf {
        content: 'sdfsddssdfs'
    }



}
.sdfsd {
    color: #fff;
    .sdfsdfsdf {
        content: 'sdfsddssdfs'
    }



}
.sdfsd {
    color: #fff;
    .sdfsdfsdf {
        content: 'sdfsddssdfs'
    }



}